@mixin boxShadow() {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.card {
  width: 820px;
  height: 312px;
  border: 1px solid;
  margin: 0 auto 30px auto;
  @include boxShadow();
}

